/*		Responsive Design: A Project by Adam Blum		*/
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  Variables  */
/*  Colors  */
/*  Font Stacks  */
/*  Icon Font  */
@font-face {
  font-family: 'AdamBlumIcons';
  src: url("http://s.cdpn.io/29719/AdamBlumIcons.eot");
  src: url("http://s.cdpn.io/29719/AdamBlumIcons.eot?#iefix") format("embedded-opentype"), url("http://s.cdpn.io/29719/AdamBlumIcons.svg") format("woff"), url("http://s.cdpn.io/29719/AdamBlumIcons.ttf") format("truetype"), url("http://s.cdpn.io/29719/AdamBlumIcons.woff#AdamBlumIcons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'AdamBlumIcons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/*  Mixins  */
* {
  box-sizing: border-box !important; }

a {
  transition: all 0.2s ease-in-out; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  overflow-x: hidden; }

/*  Flexbox Layout  */
article {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row; }
  article > section {
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2; }
  article > nav {
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 1;
    order: 1; }
  article > aside {
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 3;
    order: 3; }

header, footer {
  display: block; }

/*  Design  */
header, footer, aside, nav, section {
  padding: 0.5em 1em; }

header {
  background: #4d4d4d; }
  header nav {
    margin: 0.5em; }
    header nav a {
      padding: 1em;
      margin: 0.25em;
      color: white;
      text-decoration: none; }
      header nav a:hover {
        color: #f7d700;
        background: #555555; }

footer {
  background: #4d4d4d; }

article aside {
  background: #6ce0f1; }
article nav {
  background: #fafafa; }
  article nav a {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    padding: 1em;
    margin: 0.25em;
    text-decoration: none;
    color: white; }
    article nav a:hover {
      background: #703688; }
article section {
  background: white; }
article p {
  font-size: 100%;
  line-height: 1.5;
  margin: 0 auto;
  text-align: justify;
  text-justify: auto;
  max-width: 40em; }
  article p + article p {
    text-indent: 1.5em; }
article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0.5em auto 0.25em auto;
  font-weight: 700;
  letter-spacing: -0.03125em;
  text-transform: uppercase;
  max-width: 40rem; }
article h1 {
  font-size: 4.0625rem; }
article h2 {
  font-size: 3.25rem; }
article h3 {
  font-size: 2.5625rem; }
article h4 {
  font-size: 2rem; }
article h5 {
  font-size: 1.5625rem; }
article h6 {
  font-size: 1.25rem; }

/*  Form Stuff  */
label {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none; }

form {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 1em auto;
  max-width: 20em; }
  form[role="form"] {
    max-width: 100%; }
    form[role="form"] input {
      width: 100%; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }

input[type="text"], input[type="password"], input[type="email"], input[type="search"] {
  display: block;
  font-size: 1em;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 1em 2em 1em 1em;
  background: #fafafa;
  border: 1px solid #dddddd;
  margin: 0.5em 0 0 0;
  outline: none;
  transition: all 0.2s ease-in-out; }

textarea {
  width: 100%;
  min-height: 10em;
  padding: 1em 2em 1em 1em;
  background: #fafafa;
  border: 1px solid #dddddd;
  margin: 0.5em auto;
  outline: none;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  resize: none; }

input[type="checkbox"], input[type="radio"] {
  display: none !important; }
  input[type="checkbox"] + label, input[type="radio"] + label {
    display: block;
    padding: 0.5em;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 500; }
    input[type="checkbox"] + label:before, input[type="radio"] + label:before {
      content: "\e000";
      font-family: 'AdamBlumIcons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      padding-right: 0.5em;
      -webkit-font-smoothing: antialiased; }
    input[type="checkbox"] + label:before, input[type="radio"] + label:before {
      opacity: 0.1; }
    input[type="checkbox"] + label:first-of-type, input[type="radio"] + label:first-of-type {
      margin-top: 1em; }
  input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
    transition: all 0.2s ease-in-out;
    opacity: 1; }

[role="button"] {
  text-decoration: none !important;
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 0.75em 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  margin: 0.25em auto;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  color: #fff;
  background: #3dd6ed;
  border-width: 2px;
  border-color: #15c7e2;
  border-style: solid; }
  [role="button"]:hover, [role="button"]:focus {
    background: #6ce0f1;
    color: #fff; }
  [role="button"] i {
    display: block;
    clear: both;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 40em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
    font-size: 0.9em; }
  [role="button"][href$=".jpg"]:before, [role="button"][href$=".png"]:before {
    content: "\e004";
    font-family: 'AdamBlumIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding-right: 0.5em;
    -webkit-font-smoothing: antialiased; }
  [role="button"][type="submit"] {
    width: 100%; }

/*  Image Slider  */
/* Animation Ketframes*/
@keyframes fadeinphoto {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeinphoto {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes fadeinphoto {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeinphoto {
  0% {
    opacity: 0; }

  50% {
    opacity: 1; }

  100% {
    opacity: 0; } }

section[role="marquee"] {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; }
  section[role="marquee"] img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    section[role="marquee"] img:nth-of-type(1) {
      opacity: 0;
      animation: fadeinphoto 5s 0s infinite;
      -moz-animation: fadeinphoto 5s 0s infinite;
      -webkit-animation: fadeinphoto 5s 0s infinite;
      -o-animation: fadeinphoto 5s 0s infinite; }
    section[role="marquee"] img:nth-of-type(2) {
      opacity: 0;
      animation: fadeinphoto 5s 5s infinite;
      -moz-animation: fadeinphoto 5s 5s infinite;
      -webkit-animation: fadeinphoto 5s 5s infinite;
      -o-animation: fadeinphoto 5s 5s infinite; }
    section[role="marquee"] img:nth-of-type(3) {
      opacity: 0;
      animation: fadeinphoto 5s 0s infinite;
      -moz-animation: fadeinphoto 5s 0s infinite;
      -webkit-animation: fadeinphoto 5s 0s infinite;
      -o-animation: fadeinphoto 5s 0s infinite; }

/*  Media Queries  */
@media all and (min-width: 40em) and (max-width: 60em) {
  body {
    font-size: 1.25rem; }

  a[role="button"] {
    display: block;
    max-width: 50%;
    margin: 0.25em auto; }

  article {
    -webkit-flex-flow: column;
    flex-flow: column; }

  nav a {
    text-align: center; } }
@media all and (max-width: 40em) {
  body {
    font-size: 1.5rem; }

  a[role="button"] {
    display: block;
    max-width: 40em;
    margin: 0.25em auto; }

  article {
    -webkit-flex-flow: column;
    flex-flow: column; }

  nav a {
    text-align: center; }

  header nav a {
    display: block;
    text-align: center; } }
